
@import "tailwindcss";
#ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
li{
    list-style-type: none;
    border: 3px solid black;
    margin: 10px;
    background-color: beige;
    width: 200px;
    height: 150px;
}
